################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DDDMediatR/.vs
/DDDMediatR/bin
/DDDMediatR/obj
/DDDAutofac/obj
/DDDAutofac/bin
/DDDHostedService/obj
/DDDHostedService/bin
/DDDEf/bin
/DDDEf/obj
/DDDRabbitMQ/obj
/DDDRabbitMQ/bin
/DDDEventBus/bin
/DDDEventBus/obj
/DDDEventBusRabbitMQ/bin
/DDDEventBusRabbitMQ/obj
/DDDIESubscriber/bin
/DDDIESubscriber/obj
